* {
    margin:0;
    border:0;
  }

.content {
height: 100vh;
width: 100vw;
display: grid;
grid-template-columns: 1fr 4fr;
grid-template-rows: 1fr 5fr;
}


header {
grid-column: 2 / 3;
display: grid;
grid-template-rows: 1fr 3fr 5fr 1fr;
grid-template-columns: 1fr 20fr 8fr 1fr;
}
.searchCont {
grid-row: 2;
grid-column: 2;
}
.profileCont {
grid-row: 2;
grid-column: 3;
}
.welcomeCont {
grid-row: 3;
grid-column: 2;
}
.navBtnsCont{
grid-row: 3;
grid-column: 3;
}


nav {
grid-row: 1 / 3;
display: grid;
grid-template-rows: 1fr 4fr 1fr 4fr;
background: rgb(247,132,0);
background: linear-gradient(228deg, rgba(247,132,0,1) 30%, rgba(255,170,57,0.8995973389355743) 60%);
color: beige;
text-shadow: 0 0 10px black;
font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.logo > img {
    width: 3.4vw;
    padding-right: .5vw;
    padding-left: 2vw;
}
.logo > h1 {
    width: 100%;
}
.mainLinks {
    display: flex;
    flex-flow: column;
}
.secondaryLinks {
    grid-row: 4;
}
nav > div > ul > li {
    padding-top: 2vh;
    display: flex;
    flex-flow: row;
    align-items: center;
}
nav > div > ul > li > img {
    width: 2.4vw;
    padding-right: 1vw;
}
nav > div > ul > li > p {
    font-size: 1.5rem;
}

div {
border: 1px solid black
}


main {
display: grid;
grid-template-columns: .5fr 10fr 3fr .5fr;
}
.projects {
grid-column: 2;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: .2fr 1fr 1fr 1fr;
gap: 1rem;
}
.projects > h1 {
grid-column: 1 / 3;
font-size: 2rem;
}
.announce_trend {
display:grid;
}